{
    admin :2019
    debug
}

{$PUBPUB_HOSTNAME} {
    encode gzip

    handle_path /site-builder* {
        reverse_proxy site-builder:4000
    }

    handle {
        reverse_proxy platform:3000
    }
}

:80 {
    respond "OK" 200
}
